body{
    /* width: 1440px;
    height: 5095px; */
    background-color:  #FFFFFF;    ;
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Style the navigation bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 50px;
    width: 1240px;
    height: 50px;
    margin: 20px 20px;
    /* top: 10px;
    left: 100px; */

}

/* Style the logo */
.logo {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    /* margin: 50px; */
}

/* Style the menu items */
.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li {
    margin: 0 15px;

}

.menu a {
    color: #234CAD;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 29px; /* 161.111% */
    text-decoration: none;
    color: #234CAD;
}

/* Style the user actions (login and signup buttons) */
.user-actions {
    display: flex;
    align-items: center;
}

.login-btn {
    border-radius: 25px;
    border: 2px solid #234CAD;  
    background-color: #ffffff;
    color: #000; 
    border: 1px solid #0074D9; /* Tambahkan garis tepi biru */
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    /* transition: background-color 0.5s, color 0.4s; */
    border-radius: 25px; 
}
.signup-btn {
    background-color: #F2F6FF;
    /* color: #000; Ubah warna teks sesuai kebutuhan  */
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border: 1px solid #ffffff; /* Tambahkan garis tepi biru */
    /* transition: background-color 0.5s, color 0.4s; */
    border-radius: 25px; 
}

.login-btn:active, .signup-btn:active {
    border: 1px solid #0074D9; /* Tambahkan garis tepi biru */
   
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .user-actions {
        margin-left: auto;
    }

    .menu-toggle {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }

    .menu-toggle.active + .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 20px;
        background-color: #333;
    }
}

/* Tampilkan tombol hamburger menu saat lebar layar <= 768px */
@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .menu-toggle.active + .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0; /* Posisikan hamburger menu di pojok kiri */
        background-color: #333;
    }
}

/* SECTION ABOUT */
.hero {
    display: flex;
    width: 1040px;
    height: 575px;
    justify-content: center;
    align-items: center;
    margin: 200px;
    margin-top: 20px;
}

.col-1 {
    flex: 1;
    width: 1040px;
    height: 575px;
}

h1 {
    margin-top: 108px;
    color: #234CAD;
    font-family: Nunito;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
}

p {
    margin-top: 25px;
    color: #234CAD;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.hero-button {
    display: flex;
    width: 200px;
    height: 65px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 32.5px;
    border: 2px solid #234CAD;
    color: #234CAD;
    background-color: #FFF;
    text-align: center;
    font-family: Nunito;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; 
}


.col-2{
    flex: 1;
    padding: 100px;
    width: 575px;
    height: 575px;
    border-radius: 60px;
    background: #F2F6FF;
}




/* Section about */
.about{
    width: 276px;
    height: 160px;
    padding-top: 20px;
    /* margin-top: 30px; */
    justify-content: left;
    border-radius: 25px;
    background-color: #FFFFFF;
}
.about-2{
    width: 276px;
    height: 160px;
    margin-top: 25px;
    padding-top: 20px;
    /* margin: 100px; */
    /* margin-bottom: 100px; */
    /* justify-content: left; */
    border-radius: 25px;
    background-color: #FFFFFF;
}
.about-presentation{
    width: 276px;
    height: 160px;
    /* margin-bottom: 100px; */
    /* justify-content: left; */
    border-radius: 25px;
    background-color: #FFFFFF;
}
.about-3{
    display: flex;
    position: relative;
    width: 276px;
    height: 160px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    /* margin: 100px; */
    bottom: 531px;
    left: 320px;
    justify-content: left;
    border-radius: 25px;
    background-color: #ffffff;
}
.about-text h5{
    margin-left: 20px;
    font-size: 16px;
    font-family: Nunito;
    font-weight: 700;
    line-height: 21px;
    color: #234CAD;
}
.about-text span{
    color: #234CAD;
    margin-left: 20px;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}
.about-wrapper{
    display: block;
    margin-left: 20px;
}
.about-wrapper section{
    display: flex;
    align-items: center;
}
.about-icon{
    display: inline-flex;
    margin-top: 20px;
    padding: 13px 14px;
    background-color: #F2F6FF;
    border-radius: 50%;
    border: #FFFFFF 2px solid;
    margin-right: -10px;
    font-size: 10px;
    color: #234CAD;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
}

/* SECTION PRICING */
.pricing {
    width: 1240px;
    height: 588px;
    position: relative;
    margin-top: 100px;
    margin: 100px;
}
.pricing-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.pricing h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0px;
    margin-bottom: 20px;
}
.p {
    width: 365px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    margin-bottom: 50px;
}
.pricing-plans {
    display: flex;
}
.plan-1 {
    background-color: #F2F6FF;
    border-radius: 60px;
    width: 380px;
    height: 380px;
    box-sizing: border-box;
    padding: 0;
    margin: 0 25px;
}
.plan-2 {
    background-color: #ffffff;
    border: 3px solid #234CAD;
    border-radius: 60px;
    width: 380px;
    height: 380px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.plan-1 h5 {
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    margin-top: 50px;
    color: #234CAD;
}
.plan-1 h4 {
    height: 48px;
    margin-top: 40px;
    font-size: 56px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    color: #234CAD;
}
.plan-1 p {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    margin-top: 15px;
    color: #234CAD;
}
.plan-2 h5 {
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    margin-top: 50px;
    color: #234CAD;
}
.plan-2 h4 {
    height: 48px;
    margin-top: 40px;
    font-size: 56px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    color: #234CAD;
}
.plan-2 p {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    color: var(--color-1);
    margin-top: 15px;
    color: #234CAD;
}
.btn-plan-1 {
    width: 274px;
    height: 75px;
    border-radius: 32.5px;
    color: #234CAD;
    font-size: 25px;
    font-weight: 700;
    border: 2px solid #FFFFFF;
    background-color: #ffffff;
    margin-top: 35px;
}
.btn-plan-2 {
    width: 274px;
    height: 75px;
    border-radius: 32.5px;
    color: #234CAD;
    font-size: 25px;
    font-weight: 700;
    border: 3px solid #234CAD;
    background-color: var(--bg-white);
    margin-top: 35px;
}






